[Unit]
Description=Commander scheduled task runner
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
WorkingDirectory=/home/nckrtl/apps/commander/main
ExecStart=/usr/bin/php /home/nckrtl/apps/commander/main/artisan schedule:run --no-interaction
TimeoutStartSec=55
